.container-fluid {
  margin-top: 10px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-inner {
  background: #4d4d4d;
  -webkit-border-radius: 4px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.container {
  background: #4d4d4d;
}

.src {
  border: 1px solid #4d4d4d;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

h1.title {
  text-align: center;
  margin-bottom: 15px;
}